html, body {
  margin: 0;
  font-family: monospace;
}

main {
  height: 100vh;
  background-image: url("../assets/20181020_130027_result.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
}

main header .container span {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 70px;
  padding: 0 0.5em;
  font-weight: 100;
}

main header .container span.lastName {
  margin-left: 1em;
}

main header .container .iconContainer {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main header .container .iconContainer .fab {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.85);
}

main header .container h2 {
  color: white;
  text-align: center;
  font-size: 2.5em;
  margin: 0;
  font-weight: 100;
}

main .down {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .down a .fas {
  font-size: 2em;
  color: white;
}

nav {
  background-color: #3c4245;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 4rem;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav div {
  color: white;
  height: inherit;
  padding: 0 10px;
}

nav div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  height: inherit;
}

nav div a:hover, nav div a:visited {
  text-decoration: none;
  color: white;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  height: inherit;
}

nav ul li {
  padding: 0 10px;
  height: inherit;
}

nav ul li a {
  text-decoration: none;
  color: white;
  height: inherit;
}

nav ul li a:hover, nav ul li a:visited {
  text-decoration: none;
  color: white;
}

nav i.fa-bars {
  display: none;
}

section {
  height: 2000px;
}

@media screen and (max-width: 767px) {
  main header .container span {
    font-size: 50px;
    padding: 0 0.5em;
  }
  main header .container .iconContainer {
    margin-top: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  main header .container .fab {
    font-size: 3rem;
  }
  main header .container h2 {
    font-size: 2em;
  }
  nav {
    display: block;
    position: relative;
    height: auto;
    padding: 10px;
  }
  nav div#logo, nav i.fa-bars {
    display: inline-block;
  }
  nav div#menu {
    display: none;
  }
  nav div#menu ul {
    display: block;
  }
  nav div#menu ul li {
    height: 35px;
  }
  nav div#menu ul li a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav i.fa-bars {
    position: absolute;
    padding: 0 10px;
    right: 5px;
    color: white;
  }
}
/*# sourceMappingURL=style.css.map */